.page-container {
    min-height: 100vh; /* Asegura que ocupe toda la altura */
    display: flex;
    flex-direction: column; /* Permite que los elementos internos se apilen verticalmente */
    overflow: hidden; /* Evita que se agregue scroll innecesario */
}

/* Para las tres secciones: Activos, Pendientes, Finalizados */
.activo-container, .pendientes-container, .finalizados-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Ajusta la alineación vertical si es necesario */
    flex-grow: 1; /* Permite que el contenedor crezca para ocupar el espacio disponible */
    width: 100%; /* Asegura que ocupe toda la anchura */
    padding: 20px; /* Añade un poco de espacio interno */
    box-sizing: border-box;
    background: #e7e7e7;
    background-size: cover;
}

.swal2-container {
    z-index: 2100 !important; /* Establecer un z-index mayor al del Dialog */
  }

