.activo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background: #297A72; */
    /* background: linear-gradient(135deg, #297A72  0%, #63B4AC 75%);  */
    /* background-size: cover; */
    background: #ffffff;
}


.pendientes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background: #297A72; */
    background: linear-gradient(135deg, #297A72  0%, #63B4AC 75%); 
    background-size: cover;
}

.finalizados-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background: #297A72; */
    background: linear-gradient(135deg, #297A72  0%, #63B4AC 75%); 
    background-size: cover;
}

