html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #171F4D; */
}

.logo-bufete {
  display: block;
  margin: 0 auto 1px auto; /* Centrar horizontalmente y agregar margen inferior */
  width: 350px;
  position: relative;
}

.logo-usac {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
}

img {
  max-width: 100%;
  height: auto;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 100vh; 
  width: 100vw;   
  /* background: #297A72; */
  /* background: linear-gradient(135deg, #297A72  0%, #63B4AC 75%);  */
  background: linear-gradient(135deg, #7d7d7d 0%, #b0b0b0 75%);
  background-size: cover;
  position: relative;
}

