html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* background-color: #297A72 */
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #297A72
}

button {
  background-color: #171F4D;
}

/* button:hover {
  background-color: rgba(33, 150, 243, 1);
} */