/* Para pantallas pequeñas, como teléfonos (menos de 600px) */
@media (max-width: 600px) {

    /* Estilos login */
    .login-container {
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    .logo-bufete {
        width: 200px;
        margin-bottom: 15px;
    }

    .MuiContainer-root {
        width: 100%;
    }

    .MuiPaper-root {
        padding: 10px;
    }

    .MuiTypography-h5 {
        font-size: 1.2rem;
    }

    .MuiButton-root {
        font-size: 0.9rem;
        padding: 10px 20px;
        width: 100%;
    }

    .MuiTextField-root {
        width: 100%;
    }

    /* Estilos menu */
    .menu-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 100vh;
    }

    .edu-superior {
        width: 80%;
        margin: 20px 0;
    }

    .state-buttons-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;
    }

    button {
        font-size: 0.8rem;
        padding: 8px 16px;
        width: 100%;
        max-width: 300px;
    }
}

/* Para pantallas medianas, como tablets (600px - 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {

    /* Estilos login */
    .login-container {
        padding: 20px;
    }

    .logo-bufete {
        width: 200px;
        margin-bottom: 20px;
    }

    .MuiContainer-root {
        width: 80%;
    }

    .MuiPaper-root {
        padding: 20px;
    }

    .MuiButton-root {
        font-size: 1rem;
        padding: 12px 24px;
    }

    /* Estilos menu */
    .menu-container {
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        min-height: 50vh;
        margin-top: -10px;
    }

    .edu-superior {
        width: 300px;
        margin: 10px auto 5px auto;
    }

    .state-buttons-container {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 5px;
    }

    button {
        font-size: 1rem;
        padding: 12px 24px;

    }
}

/* Para pantallas grandes, como computadoras de escritorio (más de 1024px) */
@media (min-width: 1025px) {

    /* Estilos login */
    .login-container {
        padding: 40px;
    }

    .logo-bufete {
        width: 450px;
        margin-bottom: 10px;
    }

    .MuiContainer-root {
        width: 400px;
    }

    .MuiPaper-root {
        padding: 30px;
    }

    .MuiButton-root {
        font-size: 1.2rem;
        padding: 16px 32px;
    }

    /* Estilos menu */
    .menu-container {
        padding: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        min-height: 70vh;
        margin-top: -50px;
    }

    .edu-superior {
        width: 500px;
        margin: 20px auto 15px auto;
    }

    .state-buttons-container {
        display: flex;
        gap: 15px;
        justify-content: center;
        margin-top: 15px;
    }

    button {
        font-size: 1.2rem;
        padding: 16px 32px;
    }

    /* Estilos para las 3 pages */
    button {
        font-size: 1.5rem;
        padding: 40px 50px;
    }

    /* Estilos activos */
    .activo-container {
        padding: 40px;
    }

    .activo-container .MuiContainer-root {
        width: 100%;
    }

    .activo-container .MuiButton-root {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .activo-container .search-field {
        width: 350px;
    }

    .activo-container .MuiTypography-h4 {
        font-size: 2rem;
    }

    /* Botón "Nuevo" solo en la página Activos */
    .activo-container .nuevo-button {
        font-size: 1rem;
        padding: 10px 20px;
        align-self: flex-end;
        margin-bottom: 2rem;
        /* Para espaciar el botón */
    }

    /* Estilos pendientes */
    .pendientes-container {
        padding: 40px;
    }

    .pendientes-container .MuiContainer-root {
        width: 100%;
    }

    .pendientes-container .MuiButton-root {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .pendientes-container .search-field {
        width: 350px;
    }

    .pendientes-container .MuiTypography-h4 {
        font-size: 2rem;
    }

    /* Estilos finalizados */
    .finalizados-container {
        padding: 40px;
    }

    .finalizados-container .MuiContainer-root {
        width: 100%;
    }

    .finalizados-container .MuiButton-root {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .finalizados-container .search-field {
        width: 350px;
    }

    .finalizados-container .MuiTypography-h4 {
        font-size: 2rem;
    }

    /* Estilos comunes para DataTable */
    .data-table-container {
        width: 100%;
        height: auto;
        max-height: 100vh;
        overflow: auto;
    }

    .data-table {
        width: 100%;
        font-size: 25px;
    }

    .data-table th {
        font-size: 30px;
        /* Aumentar el tamaño de fuente de los encabezados */
        font-weight: bold;
        /* Negrita para los encabezados */
        padding: 15px;
        /* Ajustar padding si es necesario */
        /* background-color: #d3d3d3; Color de fondo para mayor claridad */
    }

    /* Estilos para las celdas del DataTable */
    .data-table td {
        font-size: 30px;
        /* Aumentar el tamaño de fuente para las celdas */
        padding: 15px;
        /* Ajustar padding si es necesario */
    }

    /* Títulos */
    .MuiTypography-h4 {
        font-size: 8rem;
    }
}